@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.css");

* {
  box-sizing: border-box;
}
:root {
  --sans: 1em/1.6 "inter", system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue,
    Fira Sans, sans-serif;
  --mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    "Courier New", monospace;
  --c1: #1b1b1b;
  --c2: #406fd3;
  --c3: #fff;
  --c4: #e6e6e6;
  --c5: #000;

  --c6: rgb(255, 0, 0);
  --c7: rgb(0, 255, 0);
  --c8: rgb(231, 231, 231);
  --c9: rgba(0, 0, 0, 0.25);

  --m1: 8px;
  --rc: 8px;
  --white: #fff;

  --ghost: rgba(0, 0, 0, 0.05);
}
@media (prefers-color-scheme: dark) {
  :root {
    --c1: #d0d0d0;
    --c2: #77c5f5;
    --c3: #121212;
    --c4: #2b2b2b;
    --c5: #fff;

    --c8: #1f1f1f;
    --c9: rgba(255, 255, 255, 0.05);

    --ghost: rgba(255, 255, 255, 0.05);
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-y: scroll;
}
body {
  margin: 0;
  font: var(--sans);
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--c3);
  color: var(--c1);
  height: 100%;
}

body > div {
  height: 100%;
}

iframe,
img,
video,
audio {
  border: none;
  max-width: 100%;
}
a {
  color: var(--c2);
  text-decoration: none;
}
a:hover {
  color: var(--c2);
  text-decoration: underline;
}
pre {
  font: 1em/1.6 var(--mono);
}
code {
  font: 1em/1.6 var(--mono);
}
blockquote {
  border-left: 5px solid var(--c1);
  padding: 1em 1.5em;
  margin: 0;
}
hr {
  border: 0;
  border-bottom: 1px solid var(--c1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.6em 0;
  font-weight: 800;
}
h1 {
  font-size: 2.625em;
  line-height: 1.4;
}
h2 {
  font-size: 1.625em;
  line-height: 1.4;
}
h3 {
  font-size: 1.3125em;
  line-height: 1.24;
}
h4 {
  font-size: 1.1875em;
  line-height: 1.23;
}
h5,
h6 {
  font-size: 1em;
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
}
td,
th {
  text-align: left;
  vertical-align: top;
  border: 1px solid;
  padding: 0.4em;
}
button,
code,
input,
pre,
select,
textarea {
  border-radius: var(--rc);
}
input,
select,
textarea,
.form-input,
.form-select {
  background-color: var(--c4);
  color: var(--c1);
  border: 1px solid var(--c4);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  font-size: 1em;
  display: inline-block;
  border: 0;
  margin: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  text-align: center;
  background: var(--c2);
  color: var(--c3);
}
button:focus,
button:hover,
input:hover,
select:hover,
textarea:hover {
  opacity: 0.8;
}
button:disabled {
  background: var(--c4);
}
button:disabled:hover {
  opacity: 1;
  cursor: auto;
}
button.small {
  background: var(--c1);
  color: var(--c3);
  padding: 0.3em 0.6em;
}
button.small.blue {
  background: var(--c2);
  color: var(--c3);
  line-height: 1.4em;
}
button.small.secondary {
  background: var(--c8);
  color: var(--c5);
  line-height: 1.4em;
}
button.small.current {
  font-weight: 600;
  font-style: italic;
}

a.link-black {
  font-weight: 500;
  color: var(--c1);
}

.color-black {
  color: var(--c1);
}

.color-red {
  color: var(--c6);
}

.color-green {
  color: var(--c7);
}

.background-gray {
  background: var(--c3);
}

.background-blue {
  background: var(--c2);
}

.rendered-html-body {
  box-sizing: border-box;
}

.rendered-html-body * {
  font-family: "inter", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans,
    sans-serif !important;
  font-size: 1.04em !important;
}

.rendered-html-body p,
.rendered-html-body ul,
.rendered-html-body ol,
.rendered-html-body blockquote {
  margin: 0 0 1em 0;
}

.rendered-html-body pre,
.rendered-html-body code {
  font-family: var(--mono) !important;
}

.rendered-html-body img {
  display: flex;
  margin-bottom: 16px;
  width: max-content;
  max-width: 100%;
  height: auto;
}

.rendered-html-body div {
  width: 100% !important;
}

.rendered-html-body pre {
  white-space: pre-wrap;
}

.rendered-html-body h1 {
  font-size: 2.625em;
  line-height: 1.4;
}
.rendered-html-body h2 {
  font-size: 1.625em;
  line-height: 1.4;
}
.rendered-html-body h3 {
  font-size: 1.3125em;
  line-height: 1.24;
}
.rendered-html-body h4 {
  font-size: 1.1875em;
  line-height: 1.23;
}
.rendered-html-body h5,
h6 {
  font-size: 1em;
  font-weight: 700;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item.light,
.list-item.light a {
  color: var(--white);
}

.well {
  background-color: var(--c8);
  padding: 16px;
  border-radius: var(--rc);
  width: 100%;
}

.well-trim {
  background-color: var(--c8);
  padding: 0;
  border-radius: var(--rc);
  width: 100%;
}

.well input,
.well textarea,
.well select {
  background-color: var(--ghost);
}

.well > h1,
.well > h2,
.well > h3,
.well > h4,
.well > h5 {
  margin-top: 0;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
